@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========================================== TAILWIND STYLES */
@layer base {
  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
}

@layer utilities {
  /* UTILITIES */
  .container {
    @apply flex-1 relative overflow-y-auto px-[5%]
  }
  .subcontainer {
    @apply flex flex-col mx-auto size-full py-2
  }
  .side-img {
    @apply hidden h-full object-cover md:block
  }
  .header {
    @apply text-32-bold md:text-36-bold
  }


  /* TYPOGRAPHY */
  .text-14-regular {
    @apply text-[14px] leading-[18px] font-normal
  }
  .text-32-bold {
    @apply text-[32px] leading-[36px] font-bold
  }
  .text-36-bold {
    @apply text-[36px] leading-[40px] font-bold
  }


  /* REACT FORM  */
  .error {
    @apply text-red-400 !important;
  }
  .input {
    @apply bg-dark-400 placeholder:text-dark-600 border-dark-500 h-11 focus-visible:ring-0 focus-visible:ring-offset-0 !important
  }
  .input-phone {
    @apply mt-2 h-11 rounded-md px-3 text-sm border bg-dark-400 placeholder:text-dark-600 border-dark-500 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
  }
  .primary-btn {
    @apply bg-green-500 text-white !important
  }

}