@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========================================== TAILWIND STYLES */
@layer base {
  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
}

@layer utilities {
  /* UTILITIES */
  .container {
    @apply flex-1 relative overflow-y-auto px-[5%]
  }
  .subcontainer {
    @apply flex flex-col mx-auto size-full py-10
  }
  .side-img {
    @apply hidden h-full object-cover md:block
  }


  /* TYPOGRAPHY */
  .text-14-regular {
    @apply text-[14px] leading-[18px] font-normal
  }

}